$dark-text: #333333;
$light-text: #FEFEFF;

// $theme-dark-colors: (
//     dark-hover-modifier: 5%,
//     dark-primary: #23272a,
//     dark-primary-text: $light-text,
//     dark-secondary: #7289da,
//     dark-secondary-text: $light-text,
//     dark-accent: #2c2f33,
//     dark-accent-text: $light-text,
//     dark-accent-2: #424549,
//     dark-accent-2-text: $light-text,
//     dark-success: #5EF38C,
//     dark-success-text: $light-text,
//     dark-danger: #E56B6F,
//     dark-danger-text: $light-text,
//     dark-info: #007acc,
//     dark-info-text: $light-text,
//     dark-warning: #ef8354,
//     dark-warning-text: $dark-text,
//     dark-light-text: $light-text,
//     dark-dark-text: $dark-text,
//     dark-text: $light-text,
// );

$theme-dark-colors: (
    dark-hover-modifier: 5%,
    dark-primary: #23272a,
    dark-primary-text: $light-text,
    dark-secondary: #7289da,
    dark-secondary-text: $light-text,
    dark-accent: #2c2f33,
    dark-accent-text: $light-text,
    dark-accent-2: #424549,
    dark-accent-2-text: $light-text,
    dark-success: #5EF38C,
    dark-success-text: $light-text,
    dark-danger: #E56B6F,
    dark-danger-text: $light-text,
    dark-info: #007acc,
    dark-info-text: $light-text,
    dark-warning: #ef8354,
    dark-warning-text: $dark-text,
    dark-light-text: $light-text,
    dark-dark-text: $dark-text,
    dark-text: $light-text,
);

// Core Colors
$charcoal: #23272a;
$purple: #7289da;
$success: #5EF38C;
$danger: #E56B6F;
$warning: #ef8354;

@import "bulma";